* {
  margin: 0;
  padding: 0;
}
.timefont {
  padding: 5px !important;
  font-size: 15px !important;
  background: none !important;
  border: none !important;
}
.page-top {
  width: 100%;
  height: 754px;
}
.page-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.carousel-item img {
  width: 100%;
  height: 754px;
}
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 120px;
  padding: 30px;
}
.logofont1 {
  font-family: Kristen ITC;
  color: #ff1493;
  font-size: 1.8em;
  font-weight: bold;
}
.logofont2 {
  font-family: Kristen ITC;
  color: #b0b7be;
  font-size: 1.8em;
  font-weight: bold;
}
.logofont2::after {
  position: relative;
  top: 15px;
  content: '*';
  font-family: sans-serif;
  color: deeppink;
}
.lgnav {
  width: 100%;
}
.lglogo {
  float: left;
}
.mylgnav {
  padding: 10px;
  float: right;
}
.mynavitem {
  padding: 5px;
  border-radius: 3px;
  color: #dfdfdf;
  cursor: pointer;
}
.mynavitem:hover {
  background-color: #dfdfdf;
  color: rgba(39, 39, 39, 0.829);
}
.mydropmenuOne {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #dfdfdf;
}
.mydropcard {
  width: 285px;
  height: 400px;
  background-color: #dfdfdf !important;
}
.mydropcard:hover {
  background-color: #d1d1d1 !important;
}
.mydropcard h5 {
  font-size: 16px;
}
.mydropcard h6 {
  font-size: 14px;
  color: gray !important;
}
.mydropcard p {
  font-family: "等线 (西文正文)";
  font-size: 12px;
  color: gray !important;
}
.mydropcard img {
  border: 5px solid #bdbdbdd0 !important;
  box-shadow: none !important;
}
.dropmenuTwo {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 410px;
  background-color: #dfdfdf;
}
.something {
  display: flex;
  justify-content: space-between;
  font-family: "等线 (西文正文)";
}
.thing {
  position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 410px;
}
.thing:hover {
  background-color: #d1d1d1;
}
.thing a {
  font-family: "Century Gothic";
  margin-bottom: 5px;
  margin-top: 3px;
  text-decoration: none;
  font-size: 13px;
  color: rgba(82, 82, 82, 0.897);
}
.mytheme {
  font-family: "Comic Sans MS" !important;
  font-size: 20px !important;
  color: rgb(77, 76, 76) !important;
}
.thingline {
  width: 170px;
  height: 1px;
  background-color: rgba(177, 177, 177, 0.849);
}
.imgline {
  float: left;
  height: 410px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.705);
}
.imgthing img{
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: #c9c9c9;
}
.dropmenuThree {
  display: none;
  position: absolute;
  right: 25px;
  height: 410px;
  width: 325px;
  background-color: #dfdfdf;
  cursor: default;
}
.formcontent {
  padding: 5px;
  margin-top: 20px;
}
.form-control {
  background-color: #cacacabe;
}
.mysubbtn {
  width: 100%;
  text-align: center;
  background-color: deeppink;
  border: none;
}
.formline {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background-color: #cacacabe;
}
.formdowncontact {
  padding-top: 10px;
  width: 100%;
  height: 55px;
  text-align: center;
}
.myformfont {
  margin: 0 !important;
  padding: 10px !important;
  font-size: 20px !important;
  border-radius: 50%;
  background-color: #cacacabe !important;
  color: rgba(39, 39, 39, 0.829) !important;
  cursor: pointer;
}
.dropbg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 85px;
  width: 100%;
  height: 410px;
  background-color: #dfdfdf;
}
.content {
  position: relative;
  z-index: 1;
  background-color: #f3f4f5;
  margin-bottom: 245px;
}
.flower {
  display: none;
  position: absolute;
  left: 43%;
  top: 35%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: deeppink;
}
.flower span {
  color: white;
  position: relative;
  top: -7px;
  font-size: 60px;
}
.theme {
  padding: 50px;
}
.themefont {
  font-family: Amaranth;
  color: #48545a;
}
.themefont::after {
  position: relative;
  top: 15px;
  content: '*';
  font-family: sans-serif;
  color: deeppink;
}
.wordfont {
  font-family: Raleway;
  color: #48545a;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #5b6971;
  font-weight: normal;
}
.line {
  margin-top: 40px;
  background: linear-gradient(to left,white,#efefef,#b6b6b6,#efefef,white);
  height: 1px;
}
.card {
  border: none;
  background-color: #f3f4f5;
}
.card img {
  border: 6px solid white;
  width: 370px;
  height: 190px;
  box-shadow: 0 0 3px rgb(189, 189, 189);
}
.card-body h5 {
  font-family: 'Comic Sans MS';
  color: #48545a;
}
.card-body:hover {
  cursor: pointer;
}
.card-body h6 {
  color: deeppink;
}
.card-body p {
  font-family: Raleway;
  margin-top: 10px;
  color: #48545a;
}
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 245px;
  background-color: #e6e8ea;
  z-index: 0;
}
#slidea {
  position: relative;
  top: -12px;
  padding: 20px;
  background-color:#d8dcdf;
  border-radius: 50%;
}
.myup {
  position: relative;
  top: 13px;
  font-size: 17px !important;
}
#slidea:hover {
  background-color: #ff1493;
  transition: background-color 1s;
}
.myConnect {
  width: 100%;
  margin-top: 60px;
}
.myconfont {
  color: #76828d !important;
  cursor: pointer !important;
  background-color: #d8dcdf;
  padding: 17px !important;
  font-size: 25px !important;
  border-radius: 50%;
}
.myConnect i:nth-child(1):hover,
.formdowncontact i:nth-child(1):hover {
  color: white !important;
  background-color: rgb(0, 54, 124)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(2):hover,
.formdowncontact i:nth-child(2):hover {
  color: white !important;
  background-color: rgb(255, 60, 0)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(3):hover,
.formdowncontact i:nth-child(3):hover {
  color: white !important;
  background-color: rgb(0, 95, 219)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(4):hover,
.formdowncontact i:nth-child(4):hover {
  color: white !important;
  background-color: rgb(3, 152, 238)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(5):hover,
.formdowncontact i:nth-child(5):hover {
  color: white !important;
  background-color: rgba(22, 22, 22, 0.808)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(6):hover,
.formdowncontact i:nth-child(6):hover {
  color: white !important;
  background-color: rgba(22, 22, 22, 0.808)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(7):hover,
.formdowncontact i:nth-child(7):hover {
  color: white !important;
  background-color: rgb(255, 136, 0)!important;
  transition: all 0.5s;
}
.myConnect i:nth-child(8):hover,
.formdowncontact i:nth-child(8):hover {
  color: white !important;
  background-color: rgb(0, 174, 255) !important;
  transition: all 0.5s;
}
.heartfont {
  font-size: 10px !important;
  border: none;
  background: none;
  color: red;
  margin: 0;
  padding: 1px;
}
.leftfixed {
  position: fixed;
  top: 80px;
  z-index: 5;
}
.myleft {
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  padding: 8px 6px;
  width: 29px;
  height: 39px;
  overflow: hidden;
}
.fsharefont {
  background-color: #ff1493;
  transition: width 1s;
}
.fsharefont:hover {
  width: 80px;
  transition: all 1s ease-in-out;
}
.ffacefont {
  display: none;
  background-color: #005aad;
  transition: width 0.5s;
}
.ffacefont:hover {
  width: 180px;
  transition: all 0.5s linear;
}
.ftweetfont {
  display: none;
  background-color: #0077ff;
  transition: width 0.5s;
}
.ftweetfont:hover {
  width: 82px;
  transition: all 0.5s linear;
}
.fgooglefont {
  display: none;
  background-color: #ff3714;
  transition: width 0.5s;
}
.fgooglefont:hover {
  width: 160px;
  transition: all 0.5s linear;
}
.fpinfont {
  display: none;
  background-color: #ff0000;
  transition: width 0.5s;
}
.fpinfont:hover {
  width: 80px;
  transition: all 0.5s linear;
}
.rightfixed {
  position: fixed;
  bottom: 30px;
  z-index: 5;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.myright {
  cursor: pointer;
  padding: 8px 6px;
  overflow: hidden;
  background-color: #ff1493;
  border-radius: 3px;
  margin-top: 1px;
  display: flex;
  flex-direction: row-reverse;
  width: 39px;
  height: 37px;
}
.ffont {
  color: white !important;
  font-size: 17px !important;
}
.myspanfont {
  color: white;
  padding: 4px 10px;
}
.myrightspanfont {
  color: white;
  margin-right: 12px;
}
.rightffont {
  margin-right: 5px;
  color: #b20e67 !important;
  font-size: 17px !important;
}
.opifont:hover {
  width: 115px;
  transition: all 0.5s;
}
.soundfont:hover {
  width: 80px;
  transition: all 0.5s;
}
.chatfont:hover {
  width: 80px;
  transition: all 0.5s;
}